.wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .form-heading {
        text-align: center;
        padding: 0.5vw 0;
    }
    .form-container-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2vw 5vw;
        label {
            display: block;
            padding-bottom: 7px;
            font-weight: 900;
            font-size: 16px;
        }
        select {
            width: 100%;
            padding: 7px;
            border: 1px solid #000000;
            &:focus-visible {
                outline: none;
            }
        }
        table {
            width: 100%;
            border: 1px solid #000000;
            border-collapse: collapse;
            tr {
                border: 1px solid #000000;
                td {
                    border: 1px solid #000000;
                    padding: 10px;
                }
                th {
                    border: 1px solid #000000;
                    padding: 10px;
                }
            }
        }
        .closer {
            width: 50%;
        }
        .loan-information {
            width: 100%;
            margin-top: 10px;
            table {
                tr {
                    th {
                        width: 80px;
                    }
                    td {
                        width: calc(100% - 80px);
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .first-table {
            width: 100%;
            margin-top: 10px;
            table {
                tr {
                    th {
                        text-align: left;
                    }
                }
            }
        }
    }
}